<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Dashboard</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bell fa-fw"></i> My House
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="list-group">
                    <a class="list-group-item">
                        <i class="fa fa-lightbulb-o fa-fw"></i> Lights on: <strong>2</strong>
                        </span>
                    </a>
                    <a class="list-group-item">
                        <i class="fa fa-fire fa-fw"></i> Temperature: <strong>73ºF</strong>
                        </span>
                    </a>
                </div>
                <!-- /.list-group -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-8 -->
    <div class="col-lg-4">
    </div>
    <!-- /.col-lg-4 -->
</div>
<!-- /.row -->